@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700&display=swap');

body{
    background-color: #fff;
    color:#161723;
}

body.dark{
    background-color: #161723;
    color:#fff;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Poppins",'sans-serif';
   
}   

h1,h2,h3{
    font-weight:bold
}
h4,h5{
    font-weight:300;
}
h6{
    font-weight:bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size:11px;
}

p{
        font-size:17px;
        line-height: 26px;
}

a{
    color:#161723;
    text-decoration: none;
}
a.dark{
    color:#fff;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color:#161723;
}
a.dark:hover{
    text-decoration: none;
    color:#fff;
}

.ceyond-navigation{
    padding: 20px 0;
}
.ceyond-navigation .navigation-logo{
    max-width: 140px;
}
.ceyond-navigation .navigation-item:nth-child(2){
    text-align:center;
}

.ceyond-navigation .navigation-item ul{
    padding: 0;
    height: 45px;
    line-height: 45px;
}

.zoho-top-video{
    position: absolute;
    top: -67px;
    text-align: center;
    left: 0;
    right: 0;
}
.zoho-top-video video {
    width: 370px;
}
.zoho-btn{
    background: rgba(240, 70, 61, 0.10980392156862745);
    color: #F0463D;
    display: inline-block;
    font-size: 12px;
    padding: 11px 10px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    transition:0.2s ease-in;

}
.cost-btn{
    background-color: rgb(14, 87, 243);
    color:white;
}

.zoho-btn:hover{
    color: rgb(226, 8, 19);
   background-color:white;
   
}
.cost-btn:hover{
    color:#2F9FDF;
}
.zoho-btn-two{
    
    color: #F0463D;
    display: inline-block;
    font-size: 12px;
    padding: 11px 0;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    transition:0.2s ease-in;

}

.zoho-btn-two:hover{
    color:#F0463D;
    
}
.zoho-btn-three{
    color: rgb(65, 159, 223);
    display: inline-block;
    font-size: 12px;
    padding: 11px 0;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    transition:0.2s ease-in;

}


.hover-up-down:hover{
    transform: translate(0,2px);
}
.hover-left-right:hover{
    transform: translate(2px,0);
}



ul.inline{
    margin:0;
    padding:0;
    list-style: none;
}
ul.inline li{
    display:inline-block;
    margin-right: 20px;
}
ul.centerText{
    margin: 0 auto;
    text-align: center;
}
ul.inline li:last-child{
    margin-right:0;
}


.ceyond-service-intro{
    padding: 80px 0;
}
.ceyond-service-intro .service-title h1{
    padding:30px 0;
}   

.ceyond-service-intro .service-image img{
        max-width: 80px;
}

.intro-section-bg-image{
    text-align:right;
    
}
.intro-section-bg-image img{
        width:40%;
      height:auto;
}

.ceyond-description-section{
    padding: 82px 0;
}
.ceyond-description-section.service-description h1{
    padding:60px;
    
}
.ceyond-fact{
    padding:40px 0;
    text-align:center;
}
.clients{
    padding-bottom:80px !important;
}
.clients img{
    max-width:80px;
    opacity: 0.5;
    transition: 0.2s opacity ease-in;
}
    
.clients img:hover{
   
    opacity: 1;
}
    .ceyond-whatwedo{
        padding:40px 0;
    text-align:center;

    }
.ceyond-boxes{
    padding: 20px 0;
}

.box_item {
    background: rgba(47, 157, 221, 0.0784313725490196);
    border-radius: 8px;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}
.box-item , .box-desc , h5{
    font-weight:800;
    
}
.box-item , .box-desc , p{
    font-weight:500;
}
.box_icon {
    padding-bottom: 20px;
    width: 30px;
    height: 30px;
    margin-bottom: 50px;;
}
.box_icon.box-icon-inline{
   
    width: 100% !important;
    padding-top: 10px;
    height: auto;
    margin: 0;
    padding-bottom: 0;
}
.box_icon.box-icon-inline img{
display: inline-block;
width: 30px;
}
.box_icon img{
height: 50px;
  
}
.box_shape {
    background: #f1f1f1;
  
    
    padding: 30px;
    box-sizing: border-box;

}
.no-padding{
    padding:0px;
}
.vertical_align {
    padding:0;
}

.zoho-blue{
    color: rgb(65, 159, 223);
    display: inline-block;
    font-size: 12px;
    padding: 11px 0;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    transition:0.2s ease-in;
}


.ceyond-milestone{
    margin: 0;
    background:rgba(47, 157, 221, 0.0784313725490196);
    padding: 30px;
    box-sizing: border-box;
    margin-top: 30px;
    border-radius: 8px;
    margin-bottom: 30px;
}


.milestone-item{
    display:table;
}

.milestone-item .milestone-icon,
.milestone-item .milestone-desc{
    display: table-cell;
    vertical-align: top;
}
.milestone-item .milestone-icon{
    padding-right: 11px;
    padding-top: 8px
}
.milestone-item .milestone-desc{
   
}
.milestone-item .milestone-desc h5{
    font-size: 35px;
    font-weight: bold;
    margin:0;
}
.milestone-item .milestone-desc p{
    margin:0;
    font-weight:500;
}
